---
---


<div class="coorporation">
    <div class="text-container">
        <p>Die Website ist ein Studentenprojekt der htw saar.<br>
            Klicke auf das Logo um die Startseite der htw zu erreichen.
        </p>
    </div>
    <div class="image-container">
        <a href="https://www.htwsaar.de/" target="blank">
            <img src="images/htw_Logo.svg" alt="LogoHTWSaar" />
        </a>
    </div>
</div>


<style>

    .coorporation{
        display: flex;
        align-items:normal;
        margin-top: 1vw;
    }

    .text-container {
        width: 60%;
        margin-left: 5vw;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: x-large;
        font-weight: 700;
        color: black;
    }

    .image-container {
        width: 40%;
        margin-top: 1vw;
    }

    img {
        width: 80%;
    }

    .image-container a:hover img {
        transform: scale(1.03);
        cursor: pointer;
    }
</style>