---

---

<header>
  <div class="headline">
    <a href="/LoeschZwerge/">
      <img src={`images/Loeschzwerge_Logo_lightblue.svg`} alt="Logo" /></a
    >
  </div>
  <div class="nav">
    <nav>
      <a href="/LoeschZwerge/car">Feuerwehrauto</a>
      <a href="/LoeschZwerge/aboutUs"> About us</a>
    </nav>
  </div>
</header>

<style>
  .background {
    background-image: url("images/header_schlauch.png");
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  /* Grundlegendes Reset & Body */
  body {
    margin: 0;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #4a3c3c;
  }

  /* Header Styling */
  header {
    position: relative;
    width: 100%;
    height: 20vh; /* Höhe des Headers */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Verhindert Überlauf */
  }

  header::before {
    content: "";
    inset: 0;
    position: fixed;
    background-image: url("images/header_schlauch.png");
    background-size: cover;
    opacity: 0.4;
    z-index: 0; /* Stellt sicher, dass der Hintergrund hinter dem Inhalt liegt */
    height: 10vw;
  }

  header > * {
    position: relative;
    z-index: 1; /* Stellt sicher, dass der Inhalt über dem Hintergrundbild liegt */
  }

  /* Logo links oben fixieren */
  .headline {
    margin: 0;
    position: absolute;
    top: 2vw;
    left: 4vw;
  }

  header img {
    height: 4vw;
    min-height: 32px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
    image-rendering: crisp-edges;
    z-index: 1;
    position: fixed;
    top: 1vw; /* Abstand vom oberen Rand */
    left: 1vw; /* Abstand vom linken Rand */
  }

  .headline a:hover img {
    transform: scale(1.03);
    cursor: pointer;
  }

  nav {
    position: fixed;
    top: 4vw; /* Positioniert die Navigation 80% vom oberen Rand */
    height: 1vw;

    transform: translateX(-50%); /* Zentriert die Navigation */
    /* Vertikal zentriert (optional) */
  }

  /* Navigation rechts daneben */
  .nav nav {
    gap: 24px;
    font-weight: 2vw;
    font-size: 1vw;
  }

  /* Navigation Links */
  .nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    height: 1vw;

    transition: all 0.2s ease;
  }

  /* Hover Effekt */
  .nav a:hover {
    background: #ffffff49;
    color: #fff;
    box-shadow: 3px 3px 0 #ffffff34;
    transform: translate(-1px, -1px);
  }
</style>
