---

---

<header>
  <div class="headline">
    <a href="/LoeschZwerge/">
      <img src={`images/Loeschzwerge_Logo_lightblue.svg`} alt="Logo" /></a
    >
  </div>
  <div class="nav">
    <nav>
      <a href="/LoeschZwerge/car">Feuerwehrauto</a>
      <a href="/LoeschZwerge/test">test</a>
    </nav>
  </div>
  <div class="schlauch"><img src="images/Feuerwehrschlauch_mitte.svg" /></div>
</header>

<style>
  /* Grundlegendes Reset & Body */

</style>
